body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.universe {
    width: 100%;
    height: 100%; /* Alterado para 100vh para preencher toda a altura da tela */
    background: url('fundo.gif') no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.page-title {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #020202; /* Cor das letras */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo com 50% de opacidade */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
}





.tv img {
    display: block;
    width: 100%;
    height: 100%;
}
/* Adicione este CSS ao seu arquivo visual2.css */

.screen {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff; /* Cor das letras */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo com 50% de opacidade */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
    backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.blue-button, .red-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px; /* Adiciona margem entre os botões */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Cor do texto */
}

.blue-button {
    background-color: blue;
    background-image: linear-gradient(to bottom, #0099ff 0%, #55ccff 100%); /* Altera o gradiente de cores ao clicar */
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); /* Adiciona sombra ao clicar */
}

.red-button {
    background-color: red;
     background-image: linear-gradient(to bottom, red 0%, #ff5555 100%); /* Altera o gradiente de cores ao clicar */
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); /* Adiciona sombra ao clicar */
    
}


video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    z-index: 1; /* Define o índice Z para que o gif fique atrás da TV */
/* Define o índice Z para que o gif fique atrás da TV */
}


.content {
    position: absolute;
    top: 50%;
    left: 100%; /* Inicia fora da tela */
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    animation: slideText 10s linear infinite; /* Animacao do texto passando */
}

@keyframes slideText {
    0% { left: 100%; } /* Começa fora da tela */
    100% { left: -200%; } /* Termina fora da tela */
}

.content h1 {
    font-size: 24px;
    margin: 0;
}
