body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.universe {
    width: 100%;
    height: 100%;
    background: url('fundo.gif') no-repeat center center;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

.page-title {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f8f8f8;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(253, 253, 253, 0.5);
    backdrop-filter: blur(5px);
}

.tv {
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.screen {
    position: relative; /* Alterado para relativo */
    z-index: 2;
}

.blue-button, .red-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.blue-button {
    background-color: blue;
    background-image: linear-gradient(to bottom, #0099ff 0%, #55ccff 100%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.red-button {
    background-color: red;
    background-image: linear-gradient(to bottom, red 0%, #ff5555 100%);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

audio {
    display: none;
}
