/* CSS básico para todos os dispositivos */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.universe {
    width: 100%;
    height: 100%;
    background: url('fundo.gif') no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.tv {
    text-align: center;
}

.screen {
    text-align: center;
    font-size: 24px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.blue-button, .red-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.blue-button {
    background-color: blue;
    background-image: linear-gradient(to bottom, #0099ff 0%, #55ccff 100%); /* Altera o gradiente de cores ao clicar */
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); /* Adiciona sombra ao clicar */
}

.red-button {
    background-color: red;
     background-image: linear-gradient(to bottom, red 0%, #ff5555 100%); /* Altera o gradiente de cores ao clicar */
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); /* Adiciona sombra ao clicar */
    
}

video {
    max-width: 100%; /* Garante que o vídeo não ultrapasse a largura do contêiner pai */
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza o vídeo horizontalmente */
}

/* Media queries para dispositivos móveis */
@media screen and (max-width: 767px) {
    .screen {
        font-size: 18px;
    }
}

/* Media queries para tablets e dispositivos menores */
@media screen and (max-width: 991px) {
    .screen {
        font-size: 20px;
    }
}
